<h1>Showing all expenses</h1>

<table style="width:90%; align:center">

	
<% @expenses.each do | expense | %> 

<tr>

<td><%= expense.purpose %></td>

<td><%= expense.amount %></td>

<td><%= expense.forwhat %></td>

<td><%= expense.name %></td>

<td><%= expense.date %></td>

<td><%= expense.time %></td>


<% if expense.file == 'nil' %>

<td>No file attached</td>

<% else %>
<td>	<a href="<%= expense.file %>" target="_blank">file</a> </td>
<% end %>


	</tr>

	
<% end %>

</table>


<br><br><br>

<%= link_to "Back to adding new expense", root_url %>


<br><br>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>   




